@page
@model IndexModel
@{
    ViewData["Title"] = "Centre High 3D Printing Services";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}





<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Centre High 3D Printing Services</h2>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <section class="box">
                    <a href="http://localhost:5000/submit3dfile">
                        <i class="icon big rounded color1 fa-upload"></i>
                        <h3>Submit a 3D File for Print</h3>
                    </a>
                    <p>Submit a .stl or .obj file and select your color for print.</p>
                </section>
            </div>
            <div class="4u 12u$(medium)">
                <section class="box">
                    <a href="http://localhost:5000/submitsearchrequest">
                        <i class="icon big rounded color6 fa-search"></i>
                        <h3>Search Request</h3>
                    </a>
                    <p>Not sure where to find 3D print files? Submit a request to our librarian to find something for you.</p>
                </section>
            </div>
            <div class="4u$ 12u$(medium)">
                <section class="box">
                    <a href="http://localhost:5000/viewprintsandrequests">
                        <i class="icon big rounded color9 fa-file"></i>
                        <h3>View 3D Prints and Search Requests</h3>
                    </a>
                    <p>View your submitted prints and requested searches here.</p>
                </section>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="push">

    </div>
</section>












